<div id="mainPage" class="clearfix">
  <header id="header" class="fixwidth">
    <h1 class="logo">
      <a href="#">
        <img src="../assets/logo_sofa.png" alt="">
      </a>
    </h1>
    <div id="headerleft">
      <div class="search">
        <div class="container">
          <input type="search" id="search" placeholder="Nhập từ khóa tìm kiếm ..." />
          <div class="icon">
            <img src="../assets/icon_search.png" alt="">
          </div>
        </div>
      </div>
      <div class="logo_left">
        <div class="img_logo img_fix">
          <img src="../assets/logo_doitra.png" alt="">
        </div>
        <div class="img_logo">
          <img src="../assets/logo_giaohang.png" alt="">
        </div>
        <div class="img_logo">
          <img src="../assets/logo_thanhtoan.png" alt="">
        </div>
      </div>
    </div>
  </header>
  <!-- /header -->
  <nav id="nav">
    <div class="fixwidth" id="menu">
      <ul>
        <li>
          <a [routerLink]="['/Home']">Trang chủ</a>
        </li>
        <li>
          <a [routerLink]="['/CornerSofa']">Sofa góc</a>
        </li>
        <li>
          <a [routerLink]="['/SkinSofa']">Sofa da thật</a>
        </li>
        <li>
          <a [routerLink]="['/ChairSofa']">Ghế sofa</a>
        </li>
        <li>
          <a [routerLink]="['/TableSofa']">Bàn kệ</a>
        </li>
        <li>
          <a [routerLink]="['/Other']">Sản phẩm khác</a>
        </li>
        <li>
          <a [routerLink]="['/CornerSofa']">Cẩm nang</a>
        </li>
        <li>
          <a [routerLink]="['/SaleOf']">Khuyến mại</a>
        </li>
        <li>
          <a [routerLink]="['/CornerSofa']">Liên hệ</a>
        </li>
      </ul>
    </div>
  </nav>
  <section id="image_sofa">
    <img src="../assets/image_sofa.jpg" alt="">
  </section>
  <router-outlet></router-outlet>
  <footer id="footer">
    <div id="container_footer">
      <div class="fixwidth">
        <div class="footer_content f_1">
          <span>Tư vấn bán hàng - Phục vụ 24/7</span>
          <div class="f_1_c">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>0986 161 676</p>
          </div>
          <span>Góp ý khuyến mại(8h-21h)</span>
          <div class="f_1_c">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>0986 161 676</p>
          </div>
          <span>Bảo hành sản phẩm(8h-21h)</span>
          <div class="f_1_c">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>0986 161 676</p>
          </div>
        </div>
        <div class="footer_content f_2">
          <span>Thông tin</span>
          <ul>
            <li>
              <a href="#">Giới thiệu</a>
            </li>
            <li>
              <a href="#">Tuyển dụng</a>
            </li>
            <li>
              <a href="#">Tin tức</a>
            </li>
            <li>
              <a href="#">Bản đồ</a>
            </li>
          </ul>
        </div>
        <div class="footer_content f_3">
          <span>Hỗ trợ khách hàng</span>
          <ul>
            <li>
              <a href="#">Liên hệ</a>
            </li>
            <li>
              <a href="#">Giao hàng</a>
            </li>
            <li>
              <a href="#">Hướng dẫn mua hàng</a>
            </li>
            <li>
              <a href="#">Hướng dẫn thanh toán</a>
            </li>
          </ul>
        </div>
        <div class="footer_content f_4">
          <span>Trụ sở Hà Nội</span>
          <ul>
            <li>
              <a href="#">Địa chỉ: Số 161, đường 70, Hà Đông, HN</a>
              <a href="#"></a>
            </li>
            <li>
              <a href="#">Hotline: 0986 161 676</a>
              <a href="#"></a>
            </li>
            <li>
              <a href="#">Email: Hienmy121208@gmail.com</a>
              <a href="#"></a>
            </li>
            <li>
              <a href="#">Website: Sofagiare.com.vn</a>
              <a href="#"></a>
            </li>
          </ul>
        </div>
        <div class="footer_content f_5">
          <img src="../assets\logo_footer.jpg" alt="">
        </div>
      </div>
    </div>
  </footer>
  </div>