<section id="category" class="fixwidth">
  <h1>Danh mục nổi bật</h1>
  <div class="category">
    <img src="../assets\sofa_category.jpg" alt="">
    <div class="content_category">
      <h1>Sofa góc da vigo</h1>
      <ul>
        <li>- Đẹp thôi chưa đủ, còn phải bền nữa</li>
        <li>- Bền thôi chưa đủ, giá phải tốt nữa</li>
        <li>- Giá tốt thôi chưa đủ, còn phải dịch vụ tư ...</li>
      </ul>
      <a href="#">Xem thêm >></a>
    </div>
  </div>
  <div class="category">
    <img src="../assets\sofa_category.jpg" alt="">
    <div class="content_category">
      <h1>Sofa góc da vigo</h1>
      <ul>
        <li>- Đẹp thôi chưa đủ, còn phải bền nữa</li>
        <li>- Bền thôi chưa đủ, giá phải tốt nữa</li>
        <li>- Giá tốt thôi chưa đủ, còn phải dịch vụ tư ...</li>
      </ul>
      <a href="#">Xem thêm >></a>
    </div>
  </div>
  <div class="category">
    <img src="../assets\sofa_category.jpg" alt="">
    <div class="content_category">
      <h1>Sofa góc da vigo</h1>
      <ul>
        <li>- Đẹp thôi chưa đủ, còn phải bền nữa</li>
        <li>- Bền thôi chưa đủ, giá phải tốt nữa</li>
        <li>- Giá tốt thôi chưa đủ, còn phải dịch vụ tư ...</li>
      </ul>
      <a href="#">Xem thêm >></a>
    </div>
  </div>
  <div class="category">
    <img src="../assets\sofa_category.jpg" alt="">
    <div class="content_category">
      <h1>Sofa góc da vigo</h1>
      <ul>
        <li>- Đẹp thôi chưa đủ, còn phải bền nữa</li>
        <li>- Bền thôi chưa đủ, giá phải tốt nữa</li>
        <li>- Giá tốt thôi chưa đủ, còn phải dịch vụ tư ...</li>
      </ul>
      <a href="#">Xem thêm >></a>
    </div>
  </div>
</section>
<section id="sale" class="content fixwidth">
  <div class="sale">
    <img src="../assets\sale.jpg" alt="">
  </div>
  <div class="sale sale_sofa">
    <img src="../assets\sale_sofa.jpg" alt="">
  </div>
</section>
<section id="product_hot" class="fixwidth">
  <div class="product_hot_left">
    <h1>Sản phẩm bán chạy</h1>
  </div>
  <div class="product_hot_right">
    <ul>
      <li>
        <a href="#">Sofa góc da</a>
      </li>
      <li>
        <a href="#">VigoSofa góc da Clado</a>
      </li>
      <li>
        <a href="#">Sofa da thật</a>
      </li>
    </ul>
  </div>
  <hr>
  <ul>
    <li>
      <div class="product_hot">
        <img src="../assets\product_hot.jpg" alt="">
        <div class="price_product">
          <span>Sofa Góc Da Vigo V222</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\product_hot.jpg" alt="">
        <div class="price_product">
          <span>Sofa Góc Da Vigo V222</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\product_hot.jpg" alt="">
        <div class="price_product">
          <span>Sofa Góc Da Vigo V222</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\product_hot.jpg" alt="">
        <div class="price_product">
          <span>Sofa Góc Da Vigo V222</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\product_hot.jpg" alt="">
        <div class="price_product">
          <span>Sofa Góc Da Vigo V222</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\product_hot.jpg" alt="">
        <div class="price_product">
          <span>Sofa Góc Da Vigo V222</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\product_hot.jpg" alt="">
        <div class="price_product">
          <span>Sofa Góc Da Vigo V222</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\product_hot.jpg" alt="">
        <div class="price_product">
          <span>Sofa Góc Da Vigo V222</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
  </ul>
</section>
<section id="lights" class="fixwidth">
  <div class="lights_left">
    <h1>Đèn trang trí</h1>
  </div>
  <div class="lights_right">
    <ul>
      <li>
        <a href="#">Sofa góc da</a>
      </li>
      <li>
        <a href="#">VigoSofa góc da Clado</a>
      </li>
      <li>
        <a href="#">Sofa da thật</a>
      </li>
    </ul>
  </div>
  <hr>
  <ul>
    <li>
      <div class="product_hot">
        <img src="../assets\lights.jpg" alt="">
        <div class="price_product">
          <span>Đèn chùm MD 1000</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\lights.jpg" alt="">
        <div class="price_product">
          <span>Đèn chùm MD 1000</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\lights.jpg" alt="">
        <div class="price_product">
          <span>Đèn chùm MD 1000</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\lights.jpg" alt="">
        <div class="price_product">
          <span>Đèn chùm MD 1000</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\lights.jpg" alt="">
        <div class="price_product">
          <span>Đèn chùm MD 1000</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\lights.jpg" alt="">
        <div class="price_product">
          <span>Đèn chùm MD 1000</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\lights.jpg" alt="">
        <div class="price_product">
          <span>Đèn chùm MD 1000</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\lights.jpg" alt="">
        <div class="price_product">
          <span>Đèn chùm MD 1000</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
  </ul>

</section>
<section id="carpet" class="fixwidth">
  <div class="carpet_left">
    <h1>Thảm lông xù</h1>
  </div>
  <div class="carpet_right">
    <ul>
      <li>
        <a href="#">Sofa góc da</a>
      </li>
      <li>
        <a href="#">VigoSofa góc da Clado</a>
      </li>
      <li>
        <a href="#">Sofa da thật</a>
      </li>
    </ul>
  </div>
  <hr>
  <ul>
    <li>
      <div class="product_hot">
        <img src="../assets\carpet.jpg" alt="">
        <div class="price_product">
          <span>Thảm trải sàn Supper S0008</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\carpet.jpg" alt="">
        <div class="price_product">
          <span>Thảm trải sàn Supper S0008</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\carpet.jpg" alt="">
        <div class="price_product">
          <span>Thảm trải sàn Supper S0008</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\carpet.jpg" alt="">
        <div class="price_product">
          <span>Thảm trải sàn Supper S0008</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\carpet.jpg" alt="">
        <div class="price_product">
          <span>Thảm trải sàn Supper S0008</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\carpet.jpg" alt="">
        <div class="price_product">
          <span>Thảm trải sàn Supper S0008</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\carpet.jpg" alt="">
        <div class="price_product">
          <span>Thảm trải sàn Supper S0008</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
    <li>
      <div class="product_hot">
        <img src="../assets\carpet.jpg" alt="">
        <div class="price_product">
          <span>Thảm trải sàn Supper S0008</span>
          <p>10,500,000đ</p>
        </div>
      </div>
    </li>
  </ul>
</section>